//  ===========================================================================
//  ******************************* DARK THEME *******************************
//  ===========================================================================

//  ===========================================================================
//  PRIMARY COLORS
//  ===========================================================================

$chineseBlack: #0c0d18;
$ebonyClay: #1c1f2c;
$white: #ffffff;
$springGreen: #14ec8a;

//  ===========================================================================
//  SECONDARY COLORS
//  ===========================================================================

$charade: #2e323e;
$trout: #494c56;
$mineralGreen: #486060;
$gulfStream: #73b1b1;
$aquamarine: #97ffd0;
$geyser: #c9e0e0;
$wildWatermelon: #ff677e;
$pizazz: #f69502;
$green: #04b600;
$cyan: #02e7f6;

//  ===========================================================================
//  GRADIENTS
//  ===========================================================================

$gradient-1: linear-gradient(0deg, #00e3ae 0%, #9be15d 100%);
$gradient-2: linear-gradient(198.01deg, #00bf57 0.44%, #005f91 108.3%);

//  ===========================================================================
//  COLORS MAP
//  ===========================================================================

$colors: () !default;

//  ===========================================================================
//  THEME MAP
//  ===========================================================================

$theme-colors: () !default;
