//  ===========================================================================
//  ******************************* WHITE THEME *******************************
//  ===========================================================================

//  ===========================================================================
//  PRIMARY COLORS
//  ===========================================================================

$ebonyClay: #1c1f2c;
$white: #ffffff;
$black: #000000;
$stormGrey: #737687;

$springGreen: #14ec8a;
$turquoise: #3fdfae;
$surfieGreen: #0d7e71;

$kellyGreen: #52c41a;

//  ===========================================================================
//  SECONDARY COLORS
//  ===========================================================================

$aliceBlue: #f5f7f8;
$grayX50: #bdbfc0;

$charade: #2e323e;
$trout: #494c56;
$mineralGreen: #486060;
$gulfStream: #73b1b1;
$geyser: #c9e0e0;
$iceberg: #d9f4f1;
$wildWatermelon: #e4455d;
$deepCerulean: #00839f;
$japaneseLaurel: #038d00;
$blazeOrange: #ff6b00;
$paleSky: #6d747a;
$blackGray: #1a1d26;

$watermelon: #fa3c58;
$pizazz: #f69502;
$greenHills: #027a00;
$harborBlue: #586897;
$blue: #ccd5f0;
$aquamarine: #97ffd0;
$gallery: #f0f0f0;
$chineseBlack: #0c0d18;
$ficus: #385c39;
$cyan: #02e7f6;
$lightGreen: #85bb65;
$dinastyDragon: #364de8;
$ghostWhite: #f4f6ff;
$carteblanche: #e7ecff;
$perfectLanding: #a0b3c3;
$caneelBay: #00839f;
$blueHalk: #e6eeff;
$pastelPink: #f7d0d0;
$gainsboro: #e1e4e9;
$outerSpace: #2b353e;

//  ===========================================================================
//  GRADIENTS
//  ===========================================================================

$gradient-light-green: linear-gradient(0deg, #00e3ae 0%, #9be15d 100%);
$gradient-dark-green: linear-gradient(198.01deg, #00bf57 0.44%, #005f91 108.3%);

//  ===========================================================================
//  RGB
//  ===========================================================================

$black-op-085: rgba(0, 0, 0, 0.85);
$black-op-02: rgba(0, 0, 0, 0.2);
$white-op-075: #ffffffbf;

//  ===========================================================================
//  THEME COLORS
//  ===========================================================================
$white: $white;
$black: $black;

$primary: $ebonyClay;

$main-background: $white;
$secondary-background: $white;

$banner-color: $iceberg;
$banner-logo-color: $turquoise;
$banner-secondary-color: $iceberg;

$eye-logo: $trout;
$eye-logo-hover: $surfieGreen;

// Assets header icon color
$asset-header-icon-color: $surfieGreen;
$assets-border-color: $geyser;
$assets-header-border-color: $gainsboro;

$assets-arrow-color: $gulfStream;
$assets-arrow-border-color: $gulfStream;
$assets-arrow-hover-color: $surfieGreen;
$assets-arrow-bg-color: $iceberg;

// Text
$sub-text: $surfieGreen;
$mute-text: $trout;
$notification-text: $gulfStream;
$base-text: $mineralGreen;
$sidebar-text: $geyser;
$primary-text: $ebonyClay;
$secondary-text: $trout;
$symbol-text: $charade;
$mute-apr-text: $mineralGreen;
$amount-text: $charade;
$input-disabled-text: $mineralGreen;
$balance-text: $surfieGreen;
$unlock-text: $paleSky;
$neutral-text: $stormGrey;
$base-amount-text: $ebonyClay;
$description-text: $paleSky;
$currency-text: $paleSky;
$details-text: $trout;

$neutral-gray: $stormGrey;
$neutral-gray-100: rgba($neutral-gray, 0.3);
$neutral-gray-200: rgba($neutral-gray, 0.5);
$neutral-gray-300: rgba($neutral-gray, 0.7);
$neutral-gray-400: rgba($neutral-gray, 0.9);

// Adapter
$adapter-label-text: $trout;
$adapter-value-text: $mineralGreen;
$adapter-ecosystem-border-color: $geyser;
$adapter-ecosystem-color: $mineralGreen;
$adapter-ecosystem-connect-hover: $iceberg;
$adapter-connected-border-color: $iceberg;
$adapter-connected-icon-color: $lightGreen;
$adapter-secondary-border-color: $pastelPink;
$adapter-modal-close-color: $blackGray;
$adapter-more-option: $gulfStream;
$adapter-hover-color: $iceberg;

// Adapter ModuleIcons
$adapter-logo-main-color: $gallery;
$adapter-logo-base-color: $cyan;
$adapter-logo-secondary-color: $iceberg;

// Adapter Not Connected
$adapter-not-connected-bg: $iceberg;
$adapter-not-connected-icon: $mineralGreen;

// Checkbox
$checkbox-text: $gulfStream;
$checkbox-disabled-text: $mineralGreen;
$checkbox-checked: $turquoise;
$checkbox-bg-color: $iceberg;
$checkbox-disabled: $geyser;
$checkbox-border: $geyser;
$checkbox-border-checked: $aquamarine;

// Border
$border-color: $gulfStream;
$border-secondary-color: $geyser;
$border-color-op-05: rgba($border-color, 0.5);
$social-border-color: $trout;
$info-border-color: $gallery;

// Button
$btn-text-color: $white;
$btn-bg-color: $ebonyClay;

$btn-text-hover: $ebonyClay;
$btn-bg-color-hover: $turquoise;
$btn-bg-color-hover-op-01: rgba($btn-bg-color-hover, 0.1);

$btn-secondary-hover: $surfieGreen;
$btn-secondary-hover-op-01: rgba($btn-secondary-hover, 0.1);

$btn-disabled: $geyser;
$btn-disabled-text: $gulfStream;
$btn-disabled-icon: $iceberg;

$swap-btn-bg-color: $aquamarine;
$small-btn-bg-color: $aquamarine;
$base-btn-bg-color: $aquamarine;

// Select
$select-bg-color: $gallery;
$select-secondary-bg-color: $geyser;
$select-dropdown-bg-color: $white;

$select-label-color: $mineralGreen;
$select-item-secondary-color: $ebonyClay;
$select-item-color: $ebonyClay;
$select-item-active-color: $ebonyClay;
$select-placeholder-text: $gulfStream;

$select-border-color: 'transparent';
$select-active-border-color: $surfieGreen;
$select-active-bg-color: $iceberg;
$select-icon-color: $gulfStream;
$select-icon-bg-color: $geyser;
$select-symbol-text: $charade;
$selected-bg-color: rgba(63, 223, 174, 0.1);

$select-disabled-bg-color: $geyser;
$select-disabled-border-color: $geyser;

// Accordion
$accordion-bg-color: $white;
$accordion-label-color: $mineralGreen;
$accordion-border-color: $geyser;
$accordion-title: $trout;

// Collapse
$collapse-border-color: $geyser;

// Info
$success: $kellyGreen;
$success-op-01: rgba($success, 0.1);

$danger: $wildWatermelon;
$danger-op-01: rgba($danger, 0.1);
$danger-color: $watermelon;

$warning: $pizazz;
$warning-op-01: rgba($warning, 0.1);

$info: $deepCerulean;
$info-op-01: rgba($info, 0.1);

// Icon
$icon-color: $gulfStream;
$icon-active: $mineralGreen;
$icon-hover: $springGreen;
$icon-disabled: $trout;
$icon-border: $dinastyDragon;

$icon-placeholder: $aliceBlue;
$icon-placeholder-border: $grayX50;
$base-icon-color: $outerSpace;

$icon-bg-color: $iceberg;
$token-primary-icon-color: $charade;
$token-secondary-icon-color: $chineseBlack;

$icon-logo-bg-color: $gainsboro;
$icon-logo-bg-hover: $aquamarine;
$icon-secondary-bg-color: $iceberg;
$icon-secondary-bg-hover: $geyser;
$logo-bg: $ebonyClay;

// Sidebar
$sidebar-active-color: $springGreen;
$sidebar-active-bg-color: $mineralGreen;

$arrow-color: $turquoise;

// Modal
$modal-bg-color: $black-op-085;
$modal-content-bg-color: $white;
$modal-block-bg-color: $ghostWhite;
$modal-active-block-bg-color: $carteblanche;
$modal-block-text: $perfectLanding;
$modal-item-text: $caneelBay;

// Search
$search-bg-color: $iceberg;
// ThemeSwitcher
$theme-switcher-color: $surfieGreen;

$nav-bar-bg-color: $white;

$positive-percentage: $surfieGreen;

$block-box-shadow: $black-op-02;
$loader-border-color: $ficus;

$tag-01: $deepCerulean;
$tag-02: $cyan;
$tag-03: $lightGreen;
$tag-selected: $turquoise;

// Percentage bar
$percentage-bar-bg-color: $iceberg;
$percentage-bar-100: $springGreen;
$percentage-bar-75: $lightGreen;
$percentage-bar-50: $blazeOrange;
$percentage-bar-25: $wildWatermelon;

// Card
$card-bg-color: rgba($gallery, 0.5);
$card-btn-bg-color: $aquamarine;
$card-tag-bg-color: $turquoise;
$card-btn-secondary-color: $gainsboro;

$shortcut-step-success: $iceberg;

$radio-btn-bg-color: $gainsboro;
//  ===========================================================================
//  THEME MAP
//  ===========================================================================

$theme-colors: (
    'primary': $primary,

    'main-background': $main-background,
    'secondary-background': $secondary-background,
    'banner-color': $banner-color,
    'banner-logo-color': $banner-logo-color,
    'banner-secondary-color': $banner-secondary-color,
    'eye-logo': $eye-logo,
    'eye-logo-hover': $eye-logo-hover,

    'asset-header-icon-color': $asset-header-icon-color,
    'assets-header-border-color': $assets-header-border-color,

    'assets-arrow-color': $assets-arrow-color,
    'assets-arrow-border-color': $assets-arrow-border-color,
    'assets-arrow-hover-color': $assets-arrow-hover-color,
    'assets-arrow-bg-color': $assets-arrow-bg-color,

    'sub-text': $sub-text,
    'notification-text': $notification-text,
    'mute-text': $mute-text,
    'base-text': $base-text,
    'sidebar-text': $sidebar-text,
    'primary-text': $primary-text,
    'secondary-text': $secondary-text,
    'symbol-text': $symbol-text,
    'mute-apr-text': $mute-apr-text,
    'amount-text': $amount-text,
    'input-disabled-text': $input-disabled-text,
    'balance-text': $balance-text,
    'unlock-text': $unlock-text,
    'neutral-text': $neutral-text,
    'base-amount-text': $base-amount-text,
    'description-text': $description-text,
    'currency-text': $currency-text,
    'details-text': $details-text,

    'neutral-gray': $neutral-gray,
    'neutral-gray-100': $neutral-gray-100,
    'neutral-gray-200': $neutral-gray-200,
    'neutral-gray-300': $neutral-gray-300,
    'neutral-gray-400': $neutral-gray-400,

    'assets-border-color': $assets-border-color,

    'adapter-label-text': $adapter-label-text,
    'adapter-value-text': $adapter-value-text,
    'adapter-ecosystem-border-color': $adapter-ecosystem-border-color,
    'adapter-ecosystem-color': $adapter-ecosystem-color,
    'adapter-ecosystem-connect-hover': $adapter-ecosystem-connect-hover,
    'adapter-logo-main-color': $adapter-logo-main-color,
    'adapter-logo-base-color': $adapter-logo-base-color,
    'adapter-logo-secondary-color': $adapter-logo-secondary-color,
    'adapter-connected-border-color': $adapter-connected-border-color,
    'adapter-connected-icon-color': $adapter-connected-icon-color,
    'adapter-secondary-border-color': $adapter-secondary-border-color,
    'adapter-modal-close-color': $adapter-modal-close-color,
    'adapter-more-option': $adapter-more-option,
    'adapter-not-connected-bg': $adapter-not-connected-bg,
    'adapter-not-connected-icon': $adapter-not-connected-icon,
    'adapter-hover-color': $adapter-hover-color,

    'checkbox-text': $checkbox-text,
    'checkbox-disabled-text': $checkbox-disabled-text,
    'checkbox-checked': $checkbox-checked,
    'checkbox-bg-color': $checkbox-bg-color,
    'checkbox-disabled': $checkbox-disabled,
    'checkbox-border': $checkbox-border,
    'checkbox-border-checked': $checkbox-border-checked,

    'border-color': $border-color,
    'border-secondary-color': $border-secondary-color,
    'border-color-op-05': $border-color-op-05,
    'social-border-color': $social-border-color,
    'info-border-color': $info-border-color,

    'btn-text-hover': $btn-text-hover,
    'btn-bg-color-hover': $btn-bg-color-hover,
    'btn-bg-color-hover-op-01': $btn-bg-color-hover-op-01,

    'btn-secondary-hover': $btn-secondary-hover,
    'btn-secondary-hover-op-01': $btn-secondary-hover-op-01,

    'btn-disabled': $btn-disabled,
    'btn-disabled-text': $btn-disabled-text,
    'btn-disabled-icon': $btn-disabled-icon,

    'btn-text-color': $btn-text-color,
    'btn-bg-color': $btn-bg-color,
    'swap-btn-bg-color': $swap-btn-bg-color,
    'small-btn-bg-color': $small-btn-bg-color,
    'base-btn-bg-color': $base-btn-bg-color,

    'select-bg-color': $select-bg-color,
    'select-secondary-bg-color': $select-secondary-bg-color,
    'select-dropdown-bg-color': $select-dropdown-bg-color,
    'select-label-color': $select-label-color,
    'select-item-color': $select-item-color,
    'select-item-secondary-color': $select-item-secondary-color,
    'select-item-active-color': $select-item-active-color,
    'select-border-color': $select-border-color,
    'select-active-border-color': $select-active-border-color,
    'select-active-bg-color': $select-active-bg-color,
    'select-icon-color': $select-icon-color,
    'select-icon-bg-color': $select-icon-bg-color,
    'select-placeholder-text': $select-placeholder-text,
    'select-symbol-text': $select-symbol-text,
    'selected-bg-color': $selected-bg-color,
    'select-disabled-bg-color': $select-disabled-bg-color,
    'select-disabled-border-color': $select-disabled-border-color,

    'accordion-bg-color': $accordion-bg-color,
    'accordion-label-color': $accordion-label-color,
    'accordion-border-color': $accordion-border-color,
    'accordion-title': $accordion-title,

    'collapse-border-color': $collapse-border-color,

    'icon-color': $icon-color,
    'icon-active': $icon-active,
    'icon-hover': $icon-hover,
    'icon-disabled': $icon-disabled,
    'icon-border': $icon-border,
    'icon-bg-color': $icon-bg-color,
    'token-primary-icon-color': $token-primary-icon-color,
    'token-secondary-icon-color': $token-secondary-icon-color,

    'icon-logo-bg-color': $icon-logo-bg-color,
    'icon-logo-bg-hover': $icon-logo-bg-hover,
    'icon-secondary-bg-color': $icon-secondary-bg-color,
    'icon-secondary-bg-hover': $icon-secondary-bg-hover,
    'icon-placeholder': $icon-placeholder,
    'icon-placeholder-border': $icon-placeholder-border,
    'base-icon-color': $base-icon-color,
    'logo-bg': $logo-bg,

    'arrow-color': $arrow-color,

    'search-bg-color': $search-bg-color,

    'success': $success,
    'success-op-01': $success-op-01,

    'danger': $danger,
    'danger-op-01': $danger-op-01,
    'danger-color': $danger-color,

    'warning': $warning,
    'warning-op-01': $warning-op-01,

    'info': $info,
    'info-op-01': $info-op-01,

    'sidebar-active-color': $sidebar-active-color,
    'sidebar-active-bg-color': $sidebar-active-bg-color,

    'white': $white,
    'black': $black,

    'modal-bg-color': $modal-bg-color,
    'modal-content-bg-color': $modal-content-bg-color,
    'modal-block-bg-color': $modal-block-bg-color,
    'modal-active-block-bg-color': $modal-active-block-bg-color,
    'modal-block-text': $modal-block-text,
    'modal-item-text': $modal-item-text,
    'block-box-shadow': $block-box-shadow,
    'loader-border-color': $loader-border-color,
    'nav-bar-bg-color': $nav-bar-bg-color,
    'theme-switcher-color': $theme-switcher-color,

    'percentage-bar-bg-color': $percentage-bar-bg-color,
    'percentage-bar-100': $percentage-bar-100,
    'percentage-bar-75': $percentage-bar-75,
    'percentage-bar-50': $percentage-bar-50,
    'percentage-bar-25': $percentage-bar-25,

    'tag-01': $tag-01,
    'tag-02': $tag-02,
    'tag-03': $tag-03,
    'tag-selected': $tag-selected,

    'card-bg-color': $card-bg-color,
    'card-btn-bg-color': $card-btn-bg-color,
    'card-tag-bg-color': $card-tag-bg-color,
    'card-btn-secondary-color': $card-btn-secondary-color,

    'shortcut-step-success': $shortcut-step-success,

    'radio-btn-bg-color': $radio-btn-bg-color,
    'white-op-075': $white-op-075,
);
