$layout-width: 75%;
$layout-max-width: 1024px;

$sidebar-size: 240px;
$sidebar-size-collapse: 64px;

$top-bar-spacing: 20px;

.main-layout {
    transition: margin-left 0.2s ease-in-out;
    margin-left: $sidebar-size !important;

    background: var(--#{$prefix}main-background);

    &.collapsed {
        margin-left: $sidebar-size-collapse !important;
    }

    &-content {
        width: $layout-width;
        max-width: $layout-max-width;
        margin: 25px auto;
    }
}

.header-layout {
    position: sticky;
    top: 0;

    z-index: 100;

    height: auto !important;

    padding-inline: 0 !important;
    padding: 0 !important;

    background-color: var(--#{$prefix}nav-bar-bg-color) !important;
    border-bottom: 1px solid var(--#{$prefix}border-secondary-color);

    .nav-bar-container {
        width: $layout-width;
        max-width: $layout-max-width;
        margin: 20px auto;
    }
}

.sidebar-trigger {
    position: absolute;
    top: $top-bar-spacing;
    right: -25px;

    background-color: var(--#{$prefix}primary);
    border-radius: 0 8px 8px 0;

    padding: 8px;

    color: var(--#{$prefix}white);
}

.module-layout-view {
    max-width: 524px;
    min-width: 524px;

    position: relative;

    &-btn {
        width: 100%;
        margin-top: 16px;
    }
}

.operation-result {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -50px;

    z-index: 10;

    background-color: var(--#{$prefix}main-background);

    .ant-divider {
        color: var(--#{$prefix}border-secondary-color);
        border-color: var(--#{$prefix}border-secondary-color);
        background-color: var(--#{$prefix}border-secondary-color);
    }

    .ant-result-content {
        padding: 0;
        background: transparent;

        .desc {
            background: var(--#{$prefix}icon-placeholder);
            border-radius: 8px;
            max-width: 520px;
            width: 100%;
            padding: 18px;
            margin: auto;
        }

        p {
            color: var(--#{$prefix}base-text);
            font-size: var(--#{$prefix}h5-fs);
            margin-bottom: 8px;
        }

        span {
            color: var(--#{$prefix}danger);
        }
    }

    &-subtitle {
        margin: auto;
        max-width: 520px;
        width: 100%;

        .description {
            color: var(--#{$prefix}mute-text);
        }
    }

    .result-link {
        color: var(--#{$prefix}sub-text);

        &,
        svg {
            transition: 0.2s ease-in-out;
        }

        svg {
            fill: var(--#{$prefix}sub-text);
            width: 16px;
            height: 10px;
        }

        &:hover {
            color: var(--#{$prefix}base-text);

            svg {
                fill: var(--#{$prefix}base-text);
            }
        }
    }

    .ant-result-extra {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.reload-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: not-allowed;

    position: absolute;
    top: -50px;
    right: 0;
    z-index: 10;

    border-radius: 50%;

    height: 32px;
    width: 32px;

    font-size: 18px;

    border: 1px solid var(--#{$prefix}border-secondary-color);

    background-color: var(--#{$prefix}icon-placeholder);

    opacity: 0.8;

    transition: 0.2s ease-in-out;

    svg {
        fill: var(--#{$prefix}base-text);
        transition: 0.2s ease-in-out;
    }

    &.active:hover {
        background-color: var(--#{$prefix}icon-logo-bg-hover);
        opacity: 1;

        svg {
            transform: rotate(180deg);
            opacity: 1;
        }
    }

    &.active {
        cursor: pointer;
        background-color: var(--#{$prefix}icon-secondary-bg-color);
        opacity: 1;
    }
}

.nft-base-info .ant-card .ant-card-body {
    padding: 16px !important;
}

.nft-stats {
    margin: 10px;

    .nft-stats-card {
        background-color: var(--#{$prefix}secondary-bg-color);
        height: 80px;
        max-height: 80px;

        .type {
            font-size: var(--#{$prefix}small-sm-fs);
            color: var(--#{$prefix}mute-text);
        }

        .amount {
            font-size: var(--#{$prefix}h5-fs);
            font-weight: 400;
            color: var(--#{$prefix}primary-text);
        }
    }
}

.nft-base-info .nft-base-info-time {
    color: var(--#{$prefix}primary-text);
    margin-top: 16px;

    .time-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;

        fill: var(--#{$prefix}warning);
        color: var(--#{$prefix}warning);

        position: relative;

        z-index: 2;
    }

    .time-countdown * {
        font-size: var(--#{$prefix}default-fs);
        color: var(--#{$prefix}primary-text);
    }

    .time-type {
        color: var(--#{$prefix}mute-text);
        font-weight: 600;
    }
}

@mixin wavePseudo {
    background: var(--#{$prefix}warning);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
    width: 16px;
    height: 16px;
    content: "";
    display: block;
    border-radius: 50%;
    z-index: 1;
}

.nft-base-info .nft-base-info-time {
    // .time-icon::after {
    //     @include wavePseudo;
    //     animation: wave-animate 2s infinite ease-out;
    // }

    // .time-icon::before {
    //     @include wavePseudo;
    //     opacity: 0;
    //     animation: wave-animate 2s 1s infinite ease-out;
    // }
}

@keyframes wave-animate {
    0% {
        transform: scale(0);
        opacity: 1;
        transform-origin: center;
    }
    100% {
        transform: scale(2);
        opacity: 0;
        transform-origin: center;
    }
}
