.nav-bar {
    position: fixed;
    &-row {
        @include pageFlexRow;
        justify-content: space-between;

        &__right,
        &__left {
            @include pageFlexRow;
            align-items: center;
            gap: 25px;
        }
    }

    &__help-item {
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 32px;
        min-height: 32px;
        border-radius: 50px;

        border: 1px solid var(--#{$prefix}border-color);
        background: var(--#{$prefix}icon-secondary-bg-color);

        font-weight: 400;
        font-size: var(--#{$prefix}h3-fs);
        color: var(--#{$prefix}icon-active);

        transition: 0.2s ease-in-out;

        &.disabled {
            opacity: 0.5;

            color: var(--#{$prefix}icon-disabled);

            svg {
                fill: var(--#{$prefix}icon-disabled);
            }

            &,
            * {
                cursor: not-allowed;
            }
        }

        &:hover:not(.disabled) {
            border-color: var(--#{$prefix}icon-hover);
            background-color: var(--#{$prefix}adapter-hover-color);
            opacity: 0.8;
        }

        span {
            font-size: var(--#{$prefix}h5-fs);
        }

        svg {
            width: 18px;
            height: 18px;

            transition: all 0.2s ease-in-out;

            rect {
                stroke: var(--#{$prefix}icon-active);
            }

            path:not([stroke]) {
                fill: var(--#{$prefix}icon-active);
            }

            path:not([fill]) {
                stroke: var(--#{$prefix}icon-active);
            }
        }
    }
}

.nav-bar__help-item-space {
    .ant-space-item {
        max-height: 55px !important;
    }
}

.not-connected .icon-container svg path {
    fill: var(--#{$prefix}white);
    transition: 0.2s;
}

.not-connected:hover .icon-container svg path {
    fill: var(--#{$prefix}black);
}

.nav-bar-row__right .divider {
    width: 1px;
    height: 32px;
    background-color: var(--#{$prefix}assets-header-divider-color);
    margin: 0 12px 0 0;
}

// * Nav Bar Menu

.nav-bar-row__right {
    gap: 0;
}

.nav-bar-menu {
    width: 100%;
    display: flex;
    gap: 24px;
}

.nav-bar-row__left {
    width: 100%;
}

.nav-bar-logo-menu {
    display: flex;
    align-items: center;
    gap: 10px;

    .nav-bar-logo {
        width: 36px;
        height: 36px;
    }

    span {
        color: var(--#{$prefix}sidebar-logo-color);
        font-weight: 700;
        font-size: var(--#{$prefix}h4-fs);
    }
}

.nav-bar-menu .ant-menu-item.ant-menu-item-selected:not(.link) {
    background: none !important;

    .sidebar-item__title {
        color: var(--#{$prefix}white);
    }

    .sidebar-item__icon svg,
    .sidebar-item__icon svg * {
        fill: var(--#{$prefix}sidebar-active-color);
    }
}

// * Default Menu Item
.nav-bar-menu__item {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    height: 40px;
    padding: 10px 16px;
    transition: 0.2s;
}

.nav-bar-menu .nav-bar-menu__item-title {
    color: var(--#{$prefix}neutral-gray);
    font-size: var(--#{$prefix}small-lg-fs);
}

.nav-bar-menu .nav-bar-menu__item-icon,
.nav-bar-menu .nav-bar-menu__item-icon.stroke-icons {
    width: 20px;
    height: 20px;
}

.nav-bar-menu .nav-bar-menu__item-icon path,
.nav-bar-menu .nav-bar-menu__item-icon.stroke-icons path {
    transition: 0.2s;
}

.nav-bar-menu .nav-bar-menu__item-icon.stroke-icons path {
    stroke: var(--#{$prefix}neutral-gray);
}

.nav-bar-menu .nav-bar-menu__item-icon:not(.stroke-icons) path {
    fill: var(--#{$prefix}neutral-gray);
}

// * Active Menu Item

.nav-bar-menu .nav-bar-menu__item--active {
    background-color: #faf8ff;
    border-radius: 8px;
}

.nav-bar-menu .nav-bar-menu__item--active .nav-bar-menu__item-title {
    color: var(--#{$prefix}sidebar-menu-active);
}

.nav-bar-menu .nav-bar-menu__item--active .nav-bar-menu__item-icon:not(.stroke-icons) path,
.nav-bar-menu .nav-bar-menu__item--active > .nav-bar-menu__item-icon:not(.stroke-icons) path {
    fill: var(--#{$prefix}sidebar-menu-active);
}

.nav-bar-menu .nav-bar-menu__item--active .nav-bar-menu__item-icon.stroke-icons path,
.nav-bar-menu .nav-bar-menu__item--active > .nav-bar-menu__item-icon.stroke-icons path {
    stroke: var(--#{$prefix}sidebar-menu-active);
}

// * Disabled Menu Item

.nav-bar-menu .nav-bar-menu__item--disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.nav-bar-menu .nav-bar-menu__item--disabled {
    color: var(--#{$prefix}neutral-gray-100);
}

.nav-bar-menu .nav-bar-menu__item--disabled .nav-bar-menu__item-icon.stroke-icons path {
    stroke: var(--#{$prefix}neutral-gray-100);
}

.nav-bar-menu .nav-bar-menu__item--disabled .nav-bar-menu__item-icon:not(.stroke-icons) path {
    fill: var(--#{$prefix}neutral-gray-100);
}

@media (max-width: 1024px) {
    .nav-bar-menu__item--disabled {
        display: none;
    }
}
