.custom-notification {
    @include pageFlexRow;

    background-color: var(--#{$prefix}primary);
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 12px 24px !important;

    .ant-notification-notice-message {
        color: var(--#{$prefix}white);
        font-size: var(--#{$prefix}default-fs) !important;
        margin-bottom: 2px !important;
    }

    .ant-notification-notice-description {
        color: var(--#{$prefix}notification-text);
        font-size: var(--#{$prefix}small-sm-fs) !important;
    }

    .ant-notification-notice-close {
        top: 10px;
    }

    [class^="anticon"]:not(.anticon-check-circle):not(.anticon-close-circle) {
        color: var(--#{$prefix}white);
    }

    @keyframes checkAnimation {
        0% {
            transform: scale3d(1, 1, 1) rotate(0deg);
        }

        20% {
            transform: scale3d(1.2, 1.2, 1.2) rotate(-5deg);
        }

        40% {
            transform: scale3d(1, 1, 1) rotate(5deg);
        }

        60% {
            transform: scale3d(1.2, 1.2, 1.2) rotate(-5deg);
        }

        80% {
            transform: scale3d(1, 1, 1) rotate(5deg);
        }

        100% {
            transform: scale3d(1, 1, 1) rotate(0deg);
        }
    }

    .anticon-check-circle {
        animation: checkAnimation 0.5s ease infinite;
        color: var(--#{$prefix}success) !important;
    }

    .anticon-close-circle {
        color: var(--#{$prefix}danger) !important;
    }

    &.success {
        border-color: var(--#{$prefix}success);
    }

    &.error {
        border-color: var(--#{$prefix}danger);
    }

    .anticon {
        transition: color 0.2s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }

    &:has(.ant-notification-notice-btn):has(.notification-explorer) {
        .ant-notification-notice-message {
            padding-inline-end: 48px;
            margin-bottom: 0;
        }
    }

    &.switch-network {
        .ant-notification-notice-message {
            margin-bottom: 0;
        }
    }

    .ant-notification-notice-btn {
        margin: 0;
    }

    .notification-explorer {
        cursor: pointer;
        position: absolute;
        top: 10px;
        inset-inline-end: 48px;

        fill: var(--#{$prefix}white);

        outline: none;

        padding: 0 3px;

        width: 21px;

        height: 21px;

        border-radius: 4px;
        transition: 0.2s ease-in-out;

        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;

        &:hover {
            fill: var(--#{$prefix}success);
            border-color: var(--#{$prefix}white);
        }
    }

    .notification-progress-line {
        position: absolute;
        left: 0px;
    }

    .ant-progress-bg {
        transition: width 0.2s ease-in-out;
    }
}