.sidebar {
    &-container {
        position: fixed !important;
        z-index: 999;

        left: 0;
        top: 0;
        bottom: 0;

        height: 100vh;

        background: var(--#{$prefix}primary) !important;
        padding: 20px 0;
    }

    &-item {
        width: 200px;
        max-width: 260px;

        display: flex;
        align-items: center;

        & > .ant-menu-title-content {
            display: flex;
            align-items: center;
        }

        &__title {
            font-weight: 400;
            font-size: var(--#{$prefix}h6-fs);
            color: var(--#{$prefix}sidebar-text);
            transition: 0.2s;

            display: flex;
            align-items: center;

            & > span {
                margin-left: 5px;
            }
        }

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                &[fill='none'] {
                    fill: var(--#{$prefix}sidebar-text);
                }
            }
        }
    }

    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        margin-bottom: 40px;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;

            & > span {
                margin-left: 5px;
            }
        }

        .tag {
            color: var(--#{$prefix}primary);
            font-weight: 500;
        }
    }

    &__menu {
        background-color: transparent;
        width: fit-content;
    }

    &-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;

        margin: 0 auto;
    }
}

.sidebar-container > .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-item.ant-menu-item.ant-menu-item {
    .sidebar-item__icon * {
        transition: 0.2s;
    }

    .sidebar-item__tag {
        color: var(--#{$prefix}primary);
        font-weight: 500;
    }
}

.sidebar-item.ant-menu-item.ant-menu-item-selected:not(.link) {
    background: none !important;

    .sidebar-item__title {
        color: var(--#{$prefix}white);
    }

    .sidebar-item__icon svg,
    .sidebar-item__icon svg * {
        fill: var(--#{$prefix}sidebar-active-color);
    }
}

.sidebar-item.ant-menu-item.ant-menu-item-selected {
    background: none !important;
}

.sidebar-item.ant-menu-item.ant-menu-item-disabled {
    .sidebar-item__title {
        color: var(--#{$prefix}icon-disabled);
    }

    .sidebar-item__icon svg,
    .sidebar-item__icon svg * {
        fill: var(--#{$prefix}icon-disabled);
    }
}

.sidebar-item.ant-menu-item:hover:not(.ant-menu-item-disabled) {
    .sidebar-item__title {
        color: var(--#{$prefix}icon-color);
    }

    .sidebar-item__icon svg,
    .sidebar-item__icon svg * {
        fill: var(--#{$prefix}icon-color);
    }
}

.ant-tag {
    color: var(--#{$prefix}primary) !important;
    font-weight: 500;
}
