.sidebar {
    position: fixed !important;
    z-index: 999;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    overflow: auto;

    padding: 40px 0;
    border-right: 1px solid var(--#{$prefix}default-border-color);
    background: var(--#{$prefix}sidebar-background) !important;
}

.sidebar.ant-layout-sider {
    background: var(--#{$prefix}sidebar-background) !important;
}

.sidebar .ant-menu {
    background: var(--#{$prefix}sidebar-background) !important;
}

// * Default Menu Item

.sidebar .ant-menu-submenu .ant-menu-submenu-title,
.sidebar .ant-menu-item {
    color: var(--#{$prefix}neutral-gray);
    font-size: var(--#{$prefix}h5-fs);
}

.sidebar .ant-menu-item-icon path,
.sidebar .ant-menu-item-icon.stroke-icons path {
    transition: 0.2s;
}

.sidebar .ant-menu-item-icon.stroke-icons path {
    stroke: var(--#{$prefix}neutral-gray);
}

.sidebar .ant-menu-item-icon:not(.stroke-icons) path {
    fill: var(--#{$prefix}neutral-gray);
}

// * Active Menu Item

.sidebar .ant-menu-submenu-selected .ant-menu-submenu-title,
.sidebar .ant-menu-item-selected {
    color: var(--#{$prefix}sidebar-menu-active);
}

.sidebar .ant-menu-submenu-selected .ant-menu-item-icon:not(.stroke-icons) path,
.sidebar .ant-menu-item-selected > .ant-menu-item-icon:not(.stroke-icons) path {
    fill: var(--#{$prefix}sidebar-menu-active);
}

.sidebar .ant-menu-submenu-selected .ant-menu-item-icon.stroke-icons path,
.sidebar .ant-menu-item-selected > .ant-menu-item-icon.stroke-icons path {
    stroke: var(--#{$prefix}sidebar-menu-active);
}

// * Disabled Menu Item

.sidebar .ant-menu-item-disabled {
    color: var(--#{$prefix}neutral-gray-100);
}

.sidebar .ant-menu-item-disabled .ant-menu-item-icon.stroke-icons path {
    stroke: var(--#{$prefix}neutral-gray-100);
}

.sidebar .ant-menu-item-disabled .ant-menu-item-icon:not(.stroke-icons) path {
    fill: var(--#{$prefix}neutral-gray-100);
}

// -------

.sidebar-container > .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-item.ant-menu-item.ant-menu-item {
    .sidebar-item__icon * {
        transition: 0.2s;
    }

    .sidebar-item__tag {
        color: var(--#{$prefix}primary);
        font-weight: 500;
    }
}

.sidebar-item.ant-menu-item.ant-menu-item-selected:not(.link) {
    background: none !important;

    .sidebar-item__title {
        color: var(--#{$prefix}white);
    }

    .sidebar-item__icon svg,
    .sidebar-item__icon svg * {
        fill: var(--#{$prefix}sidebar-active-color);
    }
}

.sidebar-item.ant-menu-item.ant-menu-item-selected {
    background: none !important;

    &:hover {
        background-color: none !important;
    }
}

.sidebar-item.ant-menu-item.ant-menu-item-disabled {
    .sidebar-item__title {
        color: var(--#{$prefix}icon-disabled);
    }

    .sidebar-item__icon svg,
    .sidebar-item__icon svg * {
        fill: var(--#{$prefix}icon-disabled);
    }
}

.sidebar-item.ant-menu-item:hover:not(.ant-menu-item-disabled) {
    .sidebar-item__title {
        color: var(--#{$prefix}icon-color);
    }

    .sidebar-item__icon svg,
    .sidebar-item__icon svg * {
        fill: var(--#{$prefix}icon-color);
    }
}

.ant-tag {
    color: var(--#{$prefix}primary) !important;
    font-weight: 500;
}

/* Override the background color for the selected menu item */
.ant-menu-item-selected,
.ant-menu-item-active,
.ant-menu-item:hover {
    background-color: transparent !important;
}

.sidebar-logo-menu {
    margin-bottom: 30px;
}

.sidebar-logo-menu .ant-menu-title-content {
    color: var(--#{$prefix}sidebar-logo-color);
    font-weight: 700;
    font-size: var(--#{$prefix}h4-fs);
}
