.base-input {
    font-size: var(--#{$prefix}h6-fs);
    font-weight: 400;

    background: transparent;

    input {
        color: var(--#{$prefix}primary-text);
        font-family: "Poppins", sans-serif !important;
        transition: 0.2s ease-in-out;
        text-overflow: ellipsis;
    }
}

.input-balance {
    width: 100%;
    min-width: 100px;

    text-align: right !important;
    padding-right: 0 !important;

    color: var(--#{$prefix}primary-text);

    font-size: var(--#{$prefix}h4-fs);
    font-weight: 700;

    transition: 0.2s ease-in-out;

    ::placeholder {
        color: var(--#{$prefix}select-placeholder-text);
    }

    min-height: 40px;

    text-overflow: ellipsis;

    &:disabled {
        user-select: none;
        cursor: not-allowed;
        color: var(--#{$prefix}input-disabled-text) !important;
    }

    &-skeleton {
        margin: auto;
        margin-right: 0;
    }
}

//         .input-address {
//             width: 90%;
//             border: none;
//             outline: none;
//             background: transparent;
//             font-size: var(--#{$prefix}h6-fs);
//             font-weight: 400;
//             color: var(--#{$prefix}primary-text);
//         }

// .select-address {
//     position: relative;

//     &__panel {
//         position: relative;
//         display: flex;
//         flex-direction: column;
//         background: var(--#{$prefix}select-bg-color);
//         border-radius: 8px;
//         padding: 10px 16px;
//         height: 80px;
//         box-sizing: border-box;
//         border: 1px solid transparent;
//         transition: 0.2s;

//         .recipient {
//             @include pageFlexRow;

//             color: var(--#{$prefix}select-label-color);
//             font-weight: 500;
//             line-height: 20px;
//         }

//         .info-wrap {
//             @include pageFlexRow;
//             justify-content: space-between;
//             margin-top: 2px;
//         }

//         .info {
//             @include pageFlexRow;

//             width: 95%;
//         }

//         .input-address {
//             width: 90%;
//             border: none;
//             outline: none;
//             background: transparent;
//             font-size: var(--#{$prefix}h6-fs);
//             font-weight: 400;
//             color: var(--#{$prefix}primary-text);
//         }

//         .medium-size {
//             font-size: var(--#{$prefix}medium-fs) !important;
//         }
//         .medium-md-size {
//             font-size: var(--#{$prefix}default-fs) !important;
//         }

//         .small-size {
//             font-size: var(--#{$prefix}small-md-fs) !important;
//         }

//         .small-sm-size {
//             font-size: var(--#{$prefix}small-sm-fs) !important;
//         }

//         .network {
//             // width: 32px;
//             // height: 32px;
//             margin-right: 6px;

//             border-radius: 50%;
//         }
//     }

//     &__clear {
//         position: absolute;
//         right: 16px;
//         cursor: pointer;
//     }

//     &.focused {
//         .select-address__panel {
//             border: 1px solid var(--#{$prefix}select-active-border-color);
//             background: var(--#{$prefix}select-bg-color);
//         }
//     }

//     &.active {
//         .select-address__panel {
//             border: 1px solid var(--#{$prefix}select-active-border-color);
//             background: var(--#{$prefix}select-bg-color);

//             svg.arrow {
//                 transform: rotate(180deg);
//             }
//         }
//     }

//     &.error {
//         input {
//             color: var(--#{$prefix}danger-color) !important;
//         }
//     }
// }
