.select-modal {
    height: 90vh;

    .ant-modal-content {
        min-height: 30vh;
        max-height: 950px;
    }

    &-list {
        &-container {
            position: relative;

            margin-top: 8px;
            min-height: 300px;
            max-height: 60vh;

            overflow-y: overlay;
            overflow-x: hidden;
        }

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &-load-more {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    &-empty {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .ant-empty {
            &-image {
                height: fit-content;
            }

            &-description {
                font-style: normal;
                font-weight: 500;
                font-size: var(--#{$prefix}h5-fs);
                color: var(--#{$prefix}mute-text);
            }
        }
    }
}
