.nft-info-container {
    max-height: 420px;
    min-height: 400px;

    max-width: 990px;

    @media (max-width: 1600px) {
        max-width: 860px;
    }

    margin: 0 auto;

    padding: 24px 0;

    .ant-tabs-tab {
        padding: 8px 0 !important;
        color: var(--#{$prefix}primary-text);

        .ant-tabs-tab-btn:hover {
            color: var(--#{$prefix}assets-arrow-color) !important;
        }
    }
    .ant-tabs-tab.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
            color: var(--#{$prefix}assets-arrow-color);
        }
    }
    .ant-tabs-ink-bar {
        background-color: var(--#{$prefix}assets-arrow-color);
    }
}

.nft-list,
.nft-info-block {
    overflow: auto;
    max-height: 420px;
    padding-bottom: 24px;
}

.nft-item {
    padding: 8px;

    .ant-card-cover {
        & > div > img,
        & > div > div {
            border-radius: 8px;
        }

        .nft-item-avatar {
            width: 100%;
            height: 100%;

            object-fit: contain;
            object-position: center;
        }
    }

    .ant-card-meta-title,
    .ant-card-meta-description {
        color: var(--#{$prefix}primary-text);
    }
    background-color: var(--#{$prefix}secondary-background);
}

.nft-item-info {
    background-color: var(--#{$prefix}secondary-background);

    border-color: var(--#{$prefix}border-secondary-color);

    .ant-descriptions-item-label,
    .ant-descriptions-item-content {
        color: var(--#{$prefix}primary-text);
    }

    .ant-btn-link {
        color: var(--#{$prefix}assets-arrow-color);
    }

    .ant-btn-link:hover {
        color: var(--#{$prefix}banner-logo-color);
    }
}
