.asset__item--network {
    display: inline-flex;
    gap: 10px;

    .network_symbol {
        font-size: var(--#{$prefix}default-fs);
        font-weight: 500;
        color: var(--#{$prefix}secondary-text);
    }

    .network_name {
        font-size: var(--#{$prefix}default-fs);
        color: var(--#{$prefix}primary-text);
        font-weight: 500;
        margin-left: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 280px;
    }
}

.asset__item--info {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: var(--#{$prefix}small-lg-fs);

    div:not(:first-child) {
        &::before {
            content: "\2022";
            margin: 0 4px;
            color: var(--#{$prefix}neutral-text);
        }
    }
}

.asset__item--protocol .asset_item--info {
    font-size: var(--#{$prefix}small-sm-fs);

    .name {
        text-wrap: nowrap;
        text-overflow: ellipsis;
    }
}

.asset__item--amount.amount-block {
    display: inline-flex;
    align-items: center;

    font-size: var(--#{$prefix}small-sm-fs);

    .symbol {
        font-weight: 500;
        color: var(--#{$prefix}secondary-text);
    }

    .value {
        font-weight: 500;
        color: var(--#{$prefix}primary-text);
    }
}


.asset__item--amount.asset__item--apy,
.asset__item--amount.asset__item--tvl {
    font-size: var(--#{$prefix}h6-fs);
}