.statistical-card {
    border-color: var(--#{$prefix}default-border-color);
    max-width: 260px;
    width: 100%;
    border-radius: 12px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 65%, rgba(78, 53, 136, 0.5) 300%);
}

.statistical-card:not(:first-child) {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 65%, rgba(136, 95, 53, 0.5) 300%);
}

.statistical-card .ant-card-body {
    padding: 20px;
    .ant-statistic-content {
        font-weight: 700;
    }
}

.statistical-card .ant-statistic-title {
    height: 20px;
}

.statistical-card .ant-statistic-content {
    height: 30px;
}

.statistical-card .ant-statistic-content-suffix {
    margin-inline-start: 2px !important;
}
.statistical-card .ant-statistic-content-prefix {
    margin-inline-end: 2px !important;
}

.statistical-card .statistical-card__statistic {
    display: flex;
    flex-direction: column-reverse;
}
