$colorPanelInitial:#f0f0f0;
$colorIconBg: #0c0d18;
$colorIconFill: #000;
$colorArrow: #73b1b1;
$colorSelectText: #000;
$colorItems: #fff;
$colorBorder: #0D7E71;

$colorItem: #486060;
$colorItemHover: #0D7E71;
$colorItemActive: #1c1f2c;

$colorAmount: #000;
$colorCode: #000;

/* dark */
/* $colorPanelInitial: #1c1f2c;
$colorIconBg: #3fdfae;
$colorIconFill: #fff;
$colorArrow: #486060;
$colorSelectText: #fff;
$colorItems: #0c0d18;
$colorBorder: #14EC8A;

$colorItem: #73B1B1;
$colorItemHover: #97ffd0;
$colorItemActive: #fff;

$colorAmount: #14EC8A;
$colorCode: #73B1B1;
*/
