.shortcut-tabs {
    margin-top: 24px;

    div:first-child {
        margin-right: 20px;
    }
}

.shortcuts-tab {
    &-item {
        @include pageFlexColumn;

        font-size: var(--#{$prefix}h3-fs);
        font-weight: 400;
        color: var(--#{$prefix}mute-text);

        transition: 0.1s;

        cursor: pointer;

        svg {
            margin-top: 6px;
        }
    }

    &-active {
        font-weight: 700;
        color: var(--#{$prefix}primary-text);
    }
}

.shortcuts-empty {
    margin-top: 20%;
}

.shortcut-list {
    margin-top: 24px;
}