.shortcut-tabs {
    margin-top: 24px;

    div:first-child {
        margin-right: 20px;
    }
}

.shortcuts-tab {
    &-item {
        @include pageFlexColumn;

        font-size: var(--#{$prefix}h3-fs);
        font-weight: 400;
        color: var(--#{$prefix}mute-text);

        transition: 0.1s;

        cursor: pointer;

        svg {
            margin-top: 6px;
        }
    }

    &-active {
        font-weight: 700;
        color: var(--#{$prefix}primary-text);
    }
}

.shortcuts-empty {
    margin-top: 20%;
}

.shortcut-list {
    margin-top: 24px;
}

.shortcut-tags {
    margin: 24px 0px;

  &__item {
    @include pageFlexRow;
    justify-content: space-between;

    height: 28px;
    width: fit-content;
    padding: 0 2px 0 8px;
    margin-right: 4px;

    border-radius: 24px;

    color: var(--#{$prefix}black);
    background: var(--#{$prefix}icon-bg-color);
    cursor: pointer;

    &--active {
        background: var(--#{$prefix}card-tag-bg-color);
    }

    span {
        font-size: var(--#{$prefix}small-lg-fs);
        font-weight: 500;
        text-transform: capitalize;
    }

    svg {
        width: 24px;
        height: 24px;
        margin-left: 4px;

        path {
            fill: $white;
        }
    }
  }

  &__clear {
    @include pageFlexRow;
    justify-content: space-between;

    height: 28px;
    margin-left: 16px;

    font-weight: 500;
    color: $wildWatermelon;

    cursor: pointer;

    svg {
        margin-right: 4px;
    }
  }
}