.operation-bag__actions {
    display: flex;
    gap: 10px;
}

.operation-bag .ant-drawer-mask {
    backdrop-filter: blur(7.5px);
}

.operation-bag__action {
    padding: 4px;
    border: 1px solid var(--#{$prefix}default-border-color);
    border-radius: 6px;
}

.operation-bag .ant-drawer-content-wrapper,
.operation-bag .ant-drawer-content {
    border-radius: 16px 0 0 16px;
}

// **********************************************************
// * Operation bag navbar
// **********************************************************

.nav-bar-row__right__operation-bag {
    display: flex;
    align-items: center;
    gap: 8px;

    border: 1px solid var(--#{$prefix}default-border-color);
    border-radius: 10px;
    padding: 20px 12px;
    max-height: 48px;

    font-size: var(--#{$prefix}small-lg-fs);
}

.operation-bag-trigger {
    cursor: pointer;

    background-color: #fff;

    transition: all 0.3s;

    &:hover {
        background-color: var(--#{$prefix}default-border-color);
    }
}
// **********************************************************
// * Operation Card
// **********************************************************

.operation-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.operation-card__info {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.operation-card__action {
    max-width: 24px;
    max-height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: var(--#{$prefix}default-border-color) !important;
    }
}

.operation-card__action--start {
    background-color: var(--#{$prefix}success);
}

.operation-card__action--remove {
    margin-left: auto;
    background-color: var(--#{$prefix}danger);
}

// **********************************************************
// * Operations COUNT badge
// **********************************************************

.operations-count {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.operations-count-badge {
    background-color: transparent;
}

.operations-count-badge .ant-badge-count {
    background-color: transparent;
    border: 1px solid var(--#{$prefix}default-border-color);
    border-radius: 4px;
    font-size: var(--#{$prefix}small-sm-fs);
}

.operations-count-badge--withdraw .ant-badge-count {
    color: var(--#{$prefix}black);
    background-color: var(--#{$prefix}white);
    border-color: var(--#{$prefix}black);
}

.operations-count-badge--deposit .ant-badge-count {
    color: var(--#{$prefix}white);
    background-color: var(--#{$prefix}black);
    border-color: var(--#{$prefix}black);
}
