@import "pages.scss";

$colorBlack: #000;
$colorWhite: #fff;


$bgLight: #fff;
$bgDark: rgb(4, 12, 4);

$borderLight: #c6c6c6;
$borderDark: #2D2D2D;

$themeRed: #FF4624;
$themeGreen: #BFF102;

$colorDarkGreen: #385C39;
$colorDarkGreenGray: #042007;
$colorLightGreenGray: #1C341D;
$colorLightGray: #DBDBDB;
