::-webkit-input-placeholder {
  color: #73B1B1;
}

:-moz-placeholder {
  color: #73B1B1;
  opacity: 1;
}

::-moz-placeholder {
  color: #73B1B1;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #73B1B1;
}

::-ms-input-placeholder {
  color: #73B1B1;
}

::placeholder {
  color: #73B1B1;
}