@import "pages.scss";

$colorBlack: #000;
$colorWhite: #fff;


$bgLight: #fff;
$bgDark: rgb(4, 12, 4);

$borderLight: #CCD5F0;
$borderDark: #061A10;
$colorLightBrown: #E8E9C9;

$themeRed: #FF4624;
$themeGreen: #85BB65;
$colorLightGreen: #85BB65;
$colorLightOrange: #FFF2F2;

$colorDarkBgGreen: #061A10;
$colorLightBgGreen: #113624;

$colorDarkGreen: #385C39;
$colorDarkGreenGray: #042007;
$colorLightGreenGray: #1C341D;
$colorLightGray: #DBDBDB;
$colorLightBlue: #586897;
$colorMainBlue: #364DE8;
$colorRed: #FA3C58;
$colorGreen: #027A00;
