@import "./font";

@import "./web3-onboard/custom-style.scss";

@import "./reset";

@import "./colors.scss";

@import "./variables";

@import "./root.scss";

@import "./ui/button";

html,
body {
  background: var(--#{$prefix}main-background) !important;
  font-size: var(--#{$prefix}default-fs);
}

.app-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__layout {
    flex-basis: 100%;

    padding: 20px 0;
    margin: 0 10%;

    height: calc(100vh - 80px);
  }
}

::-webkit-scrollbar-thumb {
  background: $gulfStream;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: $trout;
}

.ant-dropdown-arrow {
  &::before {
    background: var(--#{$prefix}secondary-background) !important;
  }
}

.anticon-copy svg {
  fill: var(--#{$prefix}primary-text) !important;
}

::-webkit-input-placeholder {
  color: var(--#{$prefix}select-placeholder-text);
}
::-moz-placeholder {
  color: var(--#{$prefix}select-placeholder-text);
  opacity: 1;
}
:-ms-input-placeholder {
  color: var(--#{$prefix}select-placeholder-text);
}
::placeholder {
  color: var(--#{$prefix}select-placeholder-text);
}

@keyframes arrowMovement {
  0% {
    transform: translateX(0);
    /* Начальное положение */
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateX(80%);
    /* Сдвиг на 50% ширины элемента */
    opacity: 0;
  }
}
